@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-image: url(/images/bg-pattern-top-desktop.svg),
    url(/images/bg-pattern-bottom-desktop.svg);
   background-position: top left, bottom right;
  background-repeat: no-repeat;
  background-size: max(50%, 400px);
  font-family: "Spartan", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1200px;
  width: 95%;
}
.showcase {
  display: flex;
  margin-bottom: 2.5em;
}
.intro-text {
  max-width: 30rem;
  margin-right: 2em;
}
.intro-text h1 {
  margin: 0;
  font-size: 40px;
  width: 70%;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
}
.intro-text p {
  font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
  color: hsl(303, 10%, 53%);
}
.rating {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
.rating small {
  margin-left: 20px;
  font-size: 12px;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
}
.star-icon-container {
  background-color: hsl(300, 24%, 96%);
  padding: .938em 5em .938em  1.875em ;
  display: flex;
  border-radius: 8px;
  margin-bottom: 15px;
}
.cards-container {
  display: flex;
  width:100%;
  justify-content: space-between;
}
.profile-card {
  background-color: hsl(300, 43%, 22%);
  color: hsl(300, 24%, 96%);
  max-width: 30em; 
  border-radius: 8px;
  width: 100%;
  line-height: 1.5;
  padding: 2em;
  font-size: 14px;
  font-weight: 400;
  margin-right: 30px;
}
.details {
  display: flex;
  margin-bottom: 30px;
}
.details p:first-of-type {
  color: hsl(0, 0%, 100%);
  margin: 0;
  font-weight: 500;
}
.details p:last-of-type {
  color: hsl(333, 80%, 67%);
  margin: 0;
  font-weight: 400;
}
.details > div {
  margin: auto 0;
}

.star-icon-container:first-of-type {
  margin-right: 80px;
}
.star-icon-container:nth-of-type(2) {
  margin-right: 40px;
}
.star-icon-container:first-of-type {
  margin-left: -80px;
}
.star-icon-container:nth-of-type(2) {
  margin-left: -40px;
}
.profile-card:nth-of-type(3) {
  margin-right: 0px;
}
.star-icon-container img{
  margin: 4px ;
}
.profile-img {
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-card:nth-of-type(2) {
  margin-top: 15px;
}
.profile-card:nth-of-type(2) {
  margin-bottom: -15px;
}
.profile-card:last-of-type {
  margin-top: 30px;
}
.profile-card:last-of-type {
  margin-bottom: -30px;
}


@media (max-width: 48.438em) {
  
  .container {
    padding: 10px;

  }
  
  .showcase {
     flex-direction: column;
  }
  .intro-text {
    text-align: center;
    margin: 0 auto;
  }
  .intro-text h1 {
    width: auto;
  }
  .showcase .star-icon-container {
    flex-direction: column;
    margin: 10px 0;
    padding: 15px 0px;
  }
  .rating {
    margin: 0;
  }

  .star-icon-container div {
    margin: 0 auto;
  }
  .cards-container {
    flex-direction: column;
  }
  .profile-card {
    max-width: 100%;
    margin: 0;
  }
}



